<app-navbar></app-navbar>

<section class="py-0 bg-primary-gradient" style="margin-top:50px;">
  
    <div class="container">
      
<!-- <app-sidebar></app-sidebar> -->
      <div class="row justify-content-center g-0">
        <div class="col-xl-9">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Liste des plats</h5>
          </div>
         
          <div class="row">
            <p *ngIf="commandes.length <= 0" class="no-data text-center">Pas encore de commande pour l'instant!</p>
            <table class="table" *ngIf="commandes.length > 0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Référence</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Date de livraison</th>
                    <th scope="col">Contact</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commande of commandes; let i = index">
                    <th scope="row"><a [routerLink]="['/commande/details', commande._id]">{{commande._id}}</a></th>
                    <td>{{commande.lieu}} </td>
                    <td>{{commande.date_livraison}}</td>
                    <td>{{commande.contact}}</td>
                    <td>
                      <span class="edit">
                        <button type="button" class="btn btn-info btn-sm">Edit</button>
                      </span>
                      <span class="delete" (click)="removeCommande(commande, i)">
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                      </span>
                    </td>
                  </tr>

                </tbody>
              </table>
              
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>

<app-footer></app-footer>