 <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="py-0 pt-2 bg-1000 fixed-bottom" >
  
                <div class="container">
                    
                  <!-- <hr class="border border-800" /> -->
                  <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                      <p class="text-200 text-center text-md-start">All rights Reserved &copy; ANDRIAMAMONJY Hoby Arivony, 2022</p>
                    </div>
                    <div class="col-md-6 order-1">
                    </div>
                  </div>
                </div><!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->
        
      