<app-navbar></app-navbar>


    <section id="py-0 bg-primary-gradient">
        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Liste des plats</h5>
            </div>
          </div>
          <div class="row gx-2">

            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
                <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="assets/img/gallery/cheese-burger.png" alt="..." />
                  <div class="card-body ps-0">
                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                    <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                  </div>
                </div>
                <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a></div>
            </div>


            <!-- PAGINATION -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </nav>
            <!-- END PAGINATION -->

          </div>
        </div>
      </section>

<app-footer></app-footer>