<app-navbar></app-navbar>
<section class="py-0 bg-primary-gradient">
  
    <div class="container">
      <div class="row justify-content-center g-0">
        <div class="col-md-6">
          <div class="col-md-6 text-center mx-auto mb-3 mt-8 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Inscription</h5>
          </div>
          <div class="row mb-8">
            <div class="card card-span shadow-warning" style="border-radius: 35px;">
                <div class="card-body py-5">
                  <div class="row justify-content-evenly">
                    <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1">*Profil</label>
                                  <select class="form-control" id="exampleFormControlSelect1" formControlName="profil">
                                    <option value="Client">Client</option>
                                    <option value="Restaurant">Restaurant</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail">*Nom</label>
                                  <input type="email" class="form-control" formControlName="nom" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom">
                                    <div
                                        class="invalid-feedback"
                                        *ngIf="submitted && myForm['email'].errors?.['required']">                                    
                                        L'email est requis
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail">*Email address</label>
                                  <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                    <div
                                        class="invalid-feedback"
                                        *ngIf="submitted && myForm['email'].errors?.['required']">                                    
                                        L'email est requis
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputPassword">*Mot de passe</label>
                                  <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Mot de passe ">
                                  <div
                                    class="invalid-feedback"
                                    *ngIf="submitted && myForm['password'].errors?.['required']">
                                  
                                    Veuillez choisir un mot de passe.
                                  </div>
                                </div>

                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                            </form>
                          
                        </div>
                    </div>
    
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </section>

<app-footer></app-footer>