 <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="py-0 pt-7 bg-1000">
  
                <div class="container">
                  <div class="row justify-content-lg-between">
                    <h5 class="lh-lg fw-bold text-white">OUR TOP CITIES</h5>
                    <div class="col-6 col-md-4 col-lg-auto mb-3">
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">San Francisco</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Miami</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">San Diego</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">East Bay</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Long Beach</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-auto mb-3">
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Los Angeles</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Washington DC</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Seattle</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Portland</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Nashville</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-auto mb-3">
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">New York City</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Orange County</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Atlanta</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Charlotte</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Denver</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-auto mb-3">
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Chicago</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Phoenix</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Las Vegas</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Sacramento</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Oklahoma City</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-auto mb-3">
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Columbus</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">New Mexico</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Albuquerque</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Sacramento</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">New Orleans</a></li>
                      </ul>
                    </div>
                  </div>
                  <hr class="text-900" />
                  <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                      <h5 class="lh-lg fw-bold text-white">COMPANY</h5>
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">About Us</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Team</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Careers</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">blog</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
                      <h5 class="lh-lg fw-bold text-white">CONTACT</h5>
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Help &amp; Support</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Partner with us </a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Ride with us</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Ride with us</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                      <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Terms &amp; Conditions</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Refund &amp; Cancellation</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Privacy Policy</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Cookie Policy</a></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                      <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
                      <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Terms &amp; Conditions</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Refund &amp; Cancellation</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Privacy Policy</a></li>
                      </ul>
                    </div>
                  </div>
                  <hr class="border border-800" />
                  <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                      <p class="text-200 text-center text-md-start">All rights Reserved &copy; ANDRIAMAMONJY Hoby Arivony, 2022</p>
                    </div>
                    <div class="col-md-6 order-1">
                    </div>
                  </div>
                </div><!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->
        
      