<app-navbar></app-navbar>

<section class="py-0 bg-primary-gradient">
  
    <div class="container">
      <div class="row justify-content-center g-0">
        <div class="col-xl-9">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6"></h5>
          </div>
          <div class="row">
            
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Plat</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Prix total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commande of commandes">
                    <!-- <th scope="row">1</th> -->
                    <td>{{commande.plat.designation}}</td>
                    <td>{{commande.qtt}}</td>
                    <td>{{commande.plat.prix_vente}}</td>
                    <td>{{commande.plat.prix_vente*commande.qtt}}</td>
                  </tr>
                  
                </tbody>
              </table>

              Total : {{ total }}

              <form (ngSubmit)="commander()">
                <button type="submit" class="btn btn-primary">Commander</button>
              </form>
              
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>

<app-footer></app-footer>